# Environment variables
.env
.env.local
.env.docker
# Dependencies
node_modules/

# Build output
dist/
build/

# Test coverage
coverage/

# Logs
*.log
*.tmp

# OS files
.DS_Store

# IDE settings
.idea/
.vscode/

# Other
*.rest
.env.example
docker-compose.db.yml
.env.example
.env.example

# uploaded documents
uploads/
