<h2>Hello {{recipientName}},</h2>
<p>The status of your proposal "<strong>{{proposalTitle}}</strong>" has been updated.</p>
<p><strong>New Status:</strong> {{status}}</p>
<p>You can log in to your account to view more details.</p>
<p>Best regards,<br>CRMP Team</p>