<h2>Hello,</h2>
<p>{{invitedByName}} invited you to join CRMP as <strong>{{roleName}}</strong>.</p>
<p>Click the button below to complete your onboarding:</p>
<p><a href="{{invitationLink}}" class="button">Accept Invitation</a></p>
<p>This invitation expires on {{expiresAt}} and can only be used once.</p>
<p>If you were not expecting this invitation, you can ignore this email.</p>
<p>Best regards,<br>CRMP Team</p>
